-i https://pypi.org/simple
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0 ; python_version >= '3.6'
bcrypt==4.0.1
certifi==2023.5.7 ; python_version >= '3.6'
cffi==1.15.1
charset-normalizer==3.2.0 ; python_full_version >= '3.7.0'
colorama==0.4.6 ; sys_platform == 'win32'
exceptiongroup==1.1.2 ; python_version < '3.11'
idna==3.4 ; python_version >= '3.5'
iniconfig==2.0.0 ; python_version >= '3.7'
packaging==23.1 ; python_version >= '3.7'
passlib==1.7.4
pluggy==1.2.0 ; python_version >= '3.7'
pycparser==2.21
pytest==7.4.0
pytest-env==0.8.2
requests==2.31.0
tomli==2.0.1 ; python_version < '3.11'
urllib3==2.0.3 ; python_version >= '3.7'
zipp==3.16.0
